
{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'style.css' %}">
    <title>Django</title>
</head>
<body>
    <header>
        <a href="{% url 'homepage' %}">Home</a>|
        <a href="{% url 'aboutpage' %}">about</a>|
        <a href="{% url 'contactpage' %}">Contact</a>|
        <a href="{% url 'postPage' %}">Post</a>|
        <a href="{% url 'blogPage' %}">Blogs</a>|
    </header>
   

    {% block content %}
    
    {% endblock %}
    
</body>
</html>