
{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% staticfiles 'style.css' %}">
    <title>Django</title>
</head>
<body>
    <header>
        <a href="{% url 'homepage' %}">Home</a>|
        <a href="{% url 'aboutpage' %}">about</a>|
        <a href="{% url 'contactpage' %}">Contact</a>|
        <a href="{% url 'postPage' %}">Post</a>|
        <a href="{% url 'blogPage' %}">Blogs</a>|
        
    </header>
    {% if user.is_authenticated %}
        <p>Hello {{user.username}}</p>
        <form action="{%url 'logout' %}" method="post">

        </form>
    {%else %}
    <p>Please Login</p>
    <form action="{%url 'login' %}" method="post">
        <button><a href="{% url 'login' %}">Login</a></button>
    </form>
    {%endif%}

    {% block content %}
    
    {% endblock %}
    
</body>
</html>